<div id="footer">
   <div class="footer text-center">
      <ul class="list-inline">
      <li><% link_to "https://www.facebook.com/h2ihomeinspect/", target: "_blank" do %> <i class="fa fa-facebook" aria-hidden="true"></i></li><% end %>
      <li><% link_to "https://www.linkedin.com/company-beta/11107519/", target: "_blank" do %> <i class="fa fa-linkedin" aria-hidden="true"></i></li><% end %>
      </ul>
      <p>Copyright H2I-inspection 2017. All rights reserved</p>
    </div>
</div>
